.editimgDiv img {
  width: 78%;
}

.bti i {
  color: #000;
  font-size: 18px;
}
.TPOsbc {
  /* border: 1px solid red; */
  margin-bottom: 25px;
}
.selectDiv {
  margin-top: 14px !important;
}
.backButton {
  width: 100%;
  position: relative;
}
.backButton i {
  font-size: 22px;
  cursor: pointer;
  color: #1976d2;
}

