.social-menu ul {
  display: flex;
}

.social-menu ul li {
  list-style: none;
  margin: 0 15px;
}
.social-menu ul {
  display: flex;
  margin: 0 !important;
  padding: 0 !important;
  margin-top: 30px !important;
}
.social-menu ul li .ficn {
  font-size: 22px;
  line-height: 54px;
  transition: 0.3s;
  color: #000;
}

.social-menu ul li .ficn:hover {
  color: #fff;
}

.social-menu ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  transition: 0.6s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.social-menu ul li a:hover {
  transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover {
  background-color: rgba(0, 0, 0, 0.829);
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #e4405f;
}
.social-menu ul li:nth-child(3) a:hover {
  background-color: #0077b5;
}
.social-menu ul li:nth-child(4) a:hover {
  background-color: #000;
}

.landingList ul {
  margin: 0;
  padding: 0;
}

.landingList ul li {
  margin: 0;
  padding: 0;
  list-style: disc;
  margin-left: 23px;
}

.landingList {
  margin-top: 30px !important;
  display: flex !important;
}

.landingList .hdr {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
